{% extends 'base.html.twig' %}

{% block title %}Planet index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="float-left">Planet index</h1>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus"></i> Créer une planète
            </button>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planet in planets %}
            <tr>
                <td>{{ planet.id }}</td>
                <td>{{ planet.name }}</td>
                <td>
                    {{ include('planet/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalTitle">Création d'une planète</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            var modal = $(this);
            $.ajax('{{ path('planet_new') }}', {
                success: function(data) {
                    modal.find('.modal-body').html(data);
                }
            });
        });

        $(document).on('submit', 'form', function(e){
            // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
            e.preventDefault();

            $form = $(e.target);
            modal = $('#exampleModal');

            var name = $('#planet_name').val();

            var $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
            $submitButton.prop('disabled', true);

            // ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier
            $form.ajaxSubmit({
                type: 'post',
                success: function(data) {
                    if (data == 'ok') {
                        $('tr').append('<td>' + name + '</td>');
                        modal.modal('toggle');
                    } else {
                        modal.find('.modal-body').html(data);
                    }
                },
                error: function(jqXHR, status, error) {
                    $submitButton.html(button.data('label'));
                    $submitButton.prop('disabled', false);
                }
            });
        });
    </script>
{% endblock %}