{% extends 'base.html.twig' %}

{% block title %}Cafetiere index{% endblock %}

{% block body %}
    <h1>Cafetiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Brand</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cafetiere in cafetieres %}
            <tr>
                <td>{{ cafetiere.id }}</td>
                <td>{{ cafetiere.name }}</td>
                <td>{{ cafetiere.price }}</td>
                <td>{{ cafetiere.brand }}</td>
                <td>
                    <a href="{{ path('cafetiere_show', {'id': cafetiere.id}) }}">show</a>
                    <a href="{{ path('cafetiere_edit', {'id': cafetiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cafetiere_new') }}">Create new</a>
{% endblock %}
