{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<!--<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>-->
        <div class ="jumbotron">
            <div class ="container">
                {{form_start(form)}}
                <div class ="form-row">
                    <div class ="col">
                        Note minimale:{{ form_row(form.min_note) }}
                    </div>
                    <div class ="col">
                        Note maximale:{{ form_row(form.max_note) }}
                    </div>
                    <div class ="col">

                        <button class ="btn btn-primary">
                            Rechercher
                        </button>
                    </div>
                </div>
                {{form_end(form)}}
            </div>
        </div>
<!--<div class="example-wrapper">-->
    <!--<div class ="search">
        <input  class= "form-control" type="text" placeholder="Rechercher">
    </div-->
    <!--<h1>Hello !< haha/h1>-->

   <!-- <div class="container">
        <div class="row">
            <div class="col-sm-4">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Default checkbox
                    </label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>exemple</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>

        </div>
    </div>-->
    <!--<div class ="searchContainer">
        <div class="container">
            <div  class ="col-md-4 mb-3">
                <input type="range"  min="0" max="5" step="0.5" id="customRange3">
            </div>

        </div>
    </div>
</div>-->
    <div class ="cardAlign">
        {% for user in users %}
                <div class="col-sm-4">
                    <div class="card" style="align-items: center">
                        <img class="card-img-top" src="{{asset('images/bad.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Nom: {{ user.name }} </p>
                            <p class="card-text"> Note:  {{ user.note }} </p>
                            <p class="card-text"> Poids:  {{ user.weight }} </p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class ="paginationContainer">
        <div class ="pagination">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
</div>
{% endblock %}