{% extends 'base.html.twig' %}

{% block title %}C'est le bazar !{% endblock %}

{% block body %}

<div class="container user_ship_edit_page">
    <h3>
        Editer votre vaisseau, maître !
    </h3>
    <div class="card">
        <h2>Exercice : Ajouter des champs d'édition pour le vaisseau </h2>
        {{ form_start(form)}}
            <div class="form-group">
                {{ form_row(form.name) }}
                {{ form_row(form.price) }}
                {{ form_row(form.type) }}
            </div>
        <button class="btn btn-primary">Editer</button>
        {{ form_end(form) }}
        <div class="alert alert-warning">
            <ul>
                <li>
                    Modifier le fichier /Form/ShipType.php pour permettre d'éditer le champ, 'taille'.
                </li>
                <li>
                    Modifier les règles de validation du nom dans le modèle Ship.php pour qu'elles n'acceptent que les noms dont:
                    La longueur minimale est 6
                    La longueur maximale est 16
                </li>
                <li>
                    Editer ShipController pour afficher un message de succès de type flash
                    <a href="https://symfonycasts.com/screencast/symfony-forms/flash-messages">Mais dis-donc Jammy, c'est quoi un flash ?</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="positionning-block card">
        <h2>Exercice : Positionnement</h2>
        <div class="positionning-block-images">
            <div class="move-me">Move me !</div>
            <img class="positionning-block-image" src={{asset('images/singe.jpeg')}} >
            <img class="positionning-block-image" src={{asset('images/singe_2.jpeg')}} >
        </div>
        <p>CSS : Modifier les règles CSS du bloc de classe "move-me" de manière à cacher le derrière du singe</p>
        <p><i>Astuce : Utiliser les propriétés top, left, right, bottom pour le positionnement, et height, width pour la taille</i></p>
    </div>
</div>
{% endblock %}
