{% extends 'base.html.twig' %}

{% block title %}Votre vaisseau!{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    {% for message in app.flashes('choose_success') %}
        {{ message }}
    {% endfor %}

    <div class="user_ship_page">
        <div class="card">
            <h2>Exercice : Remettre les pendules à l'heure</h2>
            <div class="alert alert-warning">
                Oh naaaan, un petit malin est passé par là et a transformé toutes les
                balises H1 pour y ajouter un Thor derrière...
                Localiser où ce style est réglé et le corriger.
                <ul>
                    <li>
                        Fouiller le fichier /assets/sass/bases/_small-elements.scss et modifier les règles CSS de la balise h1.
                    </li>
                    <li>
                        Remplacer la propriété "background" pour y afficher <a href="https://media.giphy.com/media/l0Ex2403A1YqrKNQA/giphy.gif">cette image à la place</a>.
                    </li>
                    <li>
                        Localiser le fichier responsable de la règle <pre>h1 {color: red}</pre>, réduire la taille du titre et l'afficher en noir.
                    </li>
                    <li>
                        Localiser le réglage de la classe "h3special" et retirer cette propriété border ridicule !
                    </li>
                </ul>
            </div>
            <h1>Mon vaisseau</h1>
            <h3>
                Votre vaisseau, maître !
            </h3>
            <h3 class="user_ship_page__h3special">Je suis un h3 sans border MOI ! Ma maman m'a dit que j'étais spécial !</h3>
        </div>
        <div class="card">
            <h2>Exercice : Afficher les bonnes informations</h2>
            <div class="alert alert-warning">
                Voici votre vaisseau, il manque quelques détails comme le <b>name</b>,
                le <b>type</b>, et la <b>taille</b>...
                Exemple : Pour afficher le nom, écrire  { { ship.name } }  en retirant les espaces
                <ul>
                    <li>
                        Modifier le fichier `/templates/user/ship.html.twig` pour afficher les propriétés <b>name</b>,
                        <b>type</b>, et <b>taille</b>
                    </li>
                </ul>
            </div>
            <div class="user_ship_page__ship">
                <img class="user_ship_page__ship_image" src="{{ ship.image }}">
                {% if ship.taille > 1000 %}
                    <img style="width: 30%;" class="img-fluid" src="{{ asset('/images/jaccuzzi.jpg') }}">
                {% endif %}
                <div class="user_ship_page__ship_info">
                    Prix : {{ ship.price }}
                </div>
            </div>
            <div class="alert alert-warning">
                Ici nous allons voir les structures conditionnelles.
                <a href="https://twig.symfony.com/doc/2.x/tags/if.html">Plus d'informations sur les structures conditionnelles ici</a>
                <ul>
                    <li>
                        Si ship.price > 5000, afficher "C'est un peu cher. Ils font un crédit ?"
                    </li>
                    <li>
                        Si ship.taille < 5000, afficher "Le vaisseau du bled !"
                    </li>
                </ul>
            </div>
            <i class="alert alert-success">Condition ici</i>
            <div class="row justify-content-center">
                <a class="btn btn-primary col-8" href="{{ path('user_ship_edit')}}">Modifier</a>
            </div>
        </div>
        <div class="card">
            <h2>Exercice : Afficher les bonnes informations 2</h2>
            <p class="alert alert-warning">
               Ce vaisseau appartient à quelqu'un. Afficher le contenu de user.name mais en ayant pris soin de vous l'être
                envoyé depuis le contrôleur !
                Rappel : Le contrôleur doit envoyer un objet "user" qui contient l'utilisateur à qui appartient le vaisseau.
                Allez voir dans le contrôleur /src/Controller/UserController::ship() et envoyer user à la vue en s'inspirant de la variable ship
            </p>
            <div class="row">
                <p class="col">
                    "Nom de l'utilisateur ici" adore Symfony parce que c'est cool... Symfony ... wouhou...
                </p>
                {% if user is defined %}
                    <img src="{{ asset('images/symfony.jpg') }}" class="img-thumbnail col-3">
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="alert-warning alert">
                <h3>Défendez-vous contre les aliens !</h3>
                <div>
                    Le vaisseau dispose de canons qui lui sont assignés, il faut les récupérer en base de données pour
                    les afficher !
                    <ul>
                        <li>
                            Modifier le UserController.php dans la méthode ship() pour récupérer en base de données
                            la liste des canons.
                        </li>
                        <li>
                            Afficher la liste des canons dans une boucle for avec la variable canons
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                Hello, la liste des canons sera ici ! <a href="https://youtu.be/KQ6zr6kCPj8?t=216">Check that</a>
                Et pour les boucles foreach c'est <a href="https://twig.symfony.com/doc/2.x/tags/for.html">ici</a>
            </div>
        </div>
        <div class="card">
            <p class="alert alert-warning">Ce gars a froid, cliquez dessus pour le réchauffer, si vous voyez ce que je veux dire !</p>
            <a class="hot-guy" href="{{ path('heating') }}">
                <img style="width: 200px;" class="img-thumbnail" src="{{asset('images/chauffage/froid.jpeg')}}">
            </a>
        </div>
    </div>
{% endblock %}
